<h1>KIT UI</h1>

<hr>

<h1 class="text-center">Navbar</h1>

<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <span class="navbar-brand">Eventissime</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto nav-fill">
        <li class="nav-item">
          <button type="button" class="btn btn-floating" data-mdb-ripple-color="light">
            <span class="nav-link">Edit email / password</span>
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-floating" data-mdb-ripple-color="light">
            <span class="nav-link">Profile</span>
          </button>
        </li>
        <li class="nav-item">   
        <button type="button" class="btn btn-floating" data-mdb-ripple-color="light">     
          <span class="btn btn-success nav-link">New event</span>
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-floating" data-mdb-ripple-color="light">
            <span class="btn btn-danger nav-link">Sign out</span>
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-floating" data-mdb-ripple-color="light">
            <span class="nav-link">Sign in</span>
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-floating" data-mdb-ripple-color="light">
            <span class="nav-link">Sign up</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>


<hr>

<h1 class="text-center">Footer</h1>

<footer class="footer text-center bg-primary text-light p-1">
<p>© Eventissime, fondé en 2023, où les moussaillons affrontaient aux frontières du royaume leur cousin le Duc de Beugs.</p>
</footer>

<hr>

<h1 class="text-center">Forms</h1>

<div class="container mt-5">
  <div class="row justify-content-center">

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Log in</h2>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" autofocus="true" autocomplete="email" class="form-control">
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" autocomplete="current-password" class="form-control">
            </div>

            <div class="form-group form-check">
              <input type="checkbox" id="remember_me" name="remember_me" class="form-check-input">
              <label for="remember_me" class="form-check-label">Remember me</label>
            </div>

            <div class="text-center">
              <input type="submit" value="Log in" class="btn btn-primary">
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Sign up</h2>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" autofocus="true" autocomplete="email" class="form-control">
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" autocomplete="new-password" class="form-control">
            </div>

            <div class="form-group">
              <label for="password_confirmation">Confirm Password</label>
              <input type="password" id="password_confirmation" name="password_confirmation" autocomplete="new-password" class="form-control">
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
          </form>
          <br>
          <p>If you already have an account, please log in using the link here below.</p>
          <a href="/login">Log in</a>
        </div>
      </div>
    </div>
    
    <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h2>Forgot your password?</h2>
          </div>
          <div class="card-body">
            <form action="#" method="post">
              <!-- Erreur Messages -->
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" autofocus="true" autocomplete="email" class="form-control">
              </div>
  
              <div class="text-center">
                <input type="submit" value="Send me reset password instructions" class="btn btn-primary">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h2>Change your password</h2>
        </div>
        <div class="card-body">
          <form action="#" method="put">
            <input type="hidden" name="reset_password_token" value="your_reset_token_here">

            <div class="form-group">
              <label for="password">New password</label><br>
              <small>(Minimum <%= @minimum_password_length %> characters)</small><br>
              <input type="password" id="password" name="password" autocomplete="new-password" class="form-control">
            </div>

            <div class="form-group">
              <label for="password_confirmation">Confirm new password</label><br>
              <input type="password" id="password_confirmation" name="password_confirmation" autocomplete="new-password" class="form-control">
            </div>

            <div class="text-center">
              <input type="submit" value="Change my password" class="btn btn-primary">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

  </div>
</div>

<hr>

<h1 class="text-center">Big Banner</h1>

<div class="jumbotron position-relative" style="background-image: url('<%= asset_path('party_girls.jpeg') %>'); background-size: cover; width: 100%; height: 50vh; background-position: center; position: relative; overflow: hidden; text-align: center;">
  <h1 class="text-center" style="padding: 75px; position: relative; z-index: 1; color: #fff;">Events</h1>
  <p class="text-center" style="position: relative; z-index: 1; color: #fff;">Let the giggles and the sparkle-filled festivities unfold, as we honor the joy of celebrating girls, each a delightful masterpiece of dreams, resilience, and the sweet essence of everything wonderfully, unapologetically girly!</p>
  <button class="btn btn-lg btn-primary" style="margin: 10px auto; position: relative; z-index: 1; color: #fff; display: block;" type="button">Join our community and let the celebration start!</button>
  <div class="gradient-overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to bottom, var(--bs-primary), var(--bs-secondary)); opacity: 0.8; z-index: 0;"></div>
</div>

<hr> 

<h1 class="text-center">Small Banner</h1>

<div class="jumbotron position-relative" style="background-image: url('<%= asset_path('party_girls.jpeg') %>'); background-size: cover; width: 100%; height: 25vh; background-position: center; position: relative; overflow: hidden; text-align: center;">
  <h1 class="text-center" style="padding: 75px; position: relative; z-index: 1; color: #fff;">The event of the century</h1>
  <div class="gradient-overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to bottom, var(--bs-primary), var(--bs-secondary)); opacity: 0.8; z-index: 0;"></div>
</div>

<hr> 

</body>
