<!DOCTYPE html>
<html>
<head>
  <title>Checkout canceled</title>
  <link rel="stylesheet" href="style.css">
</head>
<body class="bg-light">
  <div class="container mt-5">
    <div class="jumbotron">
      <h1 class="display-4">Checkout Canceled</h1>
      <p class="lead">Forgot to add something to your cart? Shop around then come back to pay!</p>
    </div>
  </div>
</html>