<div class="container mt-5">
  <h1 class="mb-4">New event</h1>

  <%= render "form", event: @event %>

  <div class="mt-4">
    <%= link_to "Back to homepage", root_path, class: "btn btn-secondary" %>
  </div>
</div>
